@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @import "../../components/styles/app.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

/* Define scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
    background: #fcfcfcee;
    /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #36ca62;
    border-radius: 5px;
    /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #209a44;
    /* Color of the scrollbar handle on hover */
}


*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    scroll-behavior: smooth;
}

/* html {
    scroll-behavior: smooth;
} */

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer components {
    .container {
        @apply px-5 mx-auto
    }

    .ele-center {
        @apply flex justify-center items-center
    }

    .ele-center-col {
        @apply flex justify-center items-center flex-col
    }

    .main-btn {
        @apply bg-[#42b0d1] hover:bg-[#81d6e1] transition-all duration-300
    }

    .auth-wrapper {
        @apply bg-[#8CA685]
    }

    .main-auth {
        @apply h-[100vh] grid grid-cols-4 p-[70px] rounded-2xl
    }

    .main-auth .cover {
        @apply col-span-2 bg-[#204915cc] rounded-tl-[60px] rounded-bl-[60px]
    }

    .main-auth .auth-content {
        @apply col-span-2 bg-[#fff] p-5 rounded-tr-[60px] rounded-br-[60px]
    }

    /* For UI */
    .form-ui .input {
        @apply placeholder:text-gray-400 border text-[#6b7280] border-gray-300 dark:border-gray-600 dark:bg-transparent rounded-md w-full py-2 px-3 focus:outline-none focus:ring-1 focus-within:ring-1 appearance-none transition duration-150 dark:text-gray-100 ease-in-out;
    }

    .form-ui .input.input-invalid {
        @apply ring-1 ring-red-500 border-red-500;
    }

    .form-ui .input.input-lg {
        @apply text-lg;
    }

    .form-ui .input-addon {
        @apply flex items-center px-4 rounded-md border border-gray-300 bg-gray-50 dark:border-gray-600 dark:bg-gray-700;
    }

    .form-ui .input-wrapper {
        @apply relative w-full flex;
    }

    .form-ui .input-disabled {
        @apply bg-gray-100 dark:bg-gray-700 text-gray-400 cursor-not-allowed;
    }

    .input-suffix-start {
        @apply absolute top-2/4 transform -translate-y-2/4 ltr:left-2.5 rtl:right-2.5;
    }

    .input-suffix-end {
        @apply absolute top-2/4 transform -translate-y-2/4 ltr:right-2.5 rtl:left-2.5 flex;
    }

    .form-ui .input-group {
        @apply flex items-center
    }

    .form-ui .input-group .input {
        @apply z-10 focus:z-20 focus-within:z-20
    }

    .form-explain {
        @apply text-red-500 absolute text-[14px];
    }

    .form-ui .form-item {
        @apply mb-7 relative;
    }

    .form-ui .form-item.horizontal {
        @apply flex flex-auto;
    }

    .form-ui .form-item .vertical {
        @apply flex flex-col;
    }

    .form-ui .form-label {
        @apply flex items-center font-semibold text-[#6b7280] text-[14px];
    }

    .form-ui .form-label.invalid {
        @apply text-red-500;
    }

    .form-ui .button {
        @apply font-semibold h-[44px] focus:outline-none whitespace-nowrap ;
    }

    .form-ui .button.radius-round {
        @apply rounded-md;
    }

    .form-ui .button.radius-circle {
        @apply rounded-full;
    }

    .form-ui .button.radius-none {
        @apply rounded-none;
    }
}











/*  */
body {
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 50px 0;
}

@media (max-width: 768px) {
    header li a.activeLink {
        color: #E68C3A;
    }

    header li:hover a {
        color: #E68C3A;
    }
}

header .span-head {
    color: #fff;
    background: #E68C3A;
    padding: 3px 12px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 10px);
    height: 30px;
    z-index: -1;
    display: none;
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

@media (min-width: 768px) {
    header .span-head {
        display: block
    }
}

@media (min-width: 768px) {
    header .span-head.activeLinkSpan {
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -o-transform: translate(-50%, -50%) scale(1);
    }
}

@media (max-width: 767px) {
    header li a.activeLink {
        color: #E68C3A
    }
}

header .main-link-header:hover .span-head {
    transform: translate(-50%, -50%) scale(1);
}

.my-btn .btn {
    padding: 11px 57px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #e68c3a;
    border-radius: 28px;
    box-shadow: 0px 5px 15px 0px rgba(230, 140, 58, 0.19);
    color: #fff;
    outline: 0 none;
    text-transform: capitalize;
    transition: all 0.5s ease-out 0s;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    background: #e68c3a;
    font-size: 12px;
    padding: 12px 33px;
    cursor: pointer;
    text-transform: capitalize !important;
}

@media (min-width: 776px) {
    .my-btn .btn {
        font-size: 18px;
        padding: 12.5px 46px;
    }
}

.my-btn .btn:hover {
    color: #e68c3a;
    background: #ffffff;
}

.my-btn .btn2 {
    padding: 11px 57px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #224C17;
    border-radius: 28px;
    box-shadow: 0px 5px 15px 0px rgba(54, 83, 134, 0.19);
    color: #fff;
    outline: 0 none;
    text-transform: capitalize;
    transition: all 0.5s ease-out 0s;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    background: #224C17;
    font-size: 12px;
    padding: 12px 33px;
    cursor: pointer;
    text-transform: capitalize !important;
}

@media (min-width: 776px) {
    .my-btn .btn2 {
        font-size: 16px;
        padding: 10px 35px;
    }
}

.my-btn .btn2:hover {
    color: #224C17;
    background: #ffffff;
}

.theme-color {
    color: #224C17;
}

/* For Menu */
@media (max-width: 768px) {
    .menu-toggle {
        z-index: 10;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: top left;
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        align-items: center;
        background: #171a1e;
        display: flex !important;
        flex-direction: column;
        padding: 30px;
        position: fixed;
        transition: .3s;
        width: 100%;
        gap: 25px;
        opacity: 0;
        transition: .5s;
    }

    .navs-menu {
        flex-direction: column;
        height: calc(100vh - 86px);
        justify-content: flex-start;
        font-size: 30px;
        text-align: right;
        width: 100%;
        align-items: flex-start;
        gap: 35px;
    }

    .navs-menu.reflect {
        align-items: flex-end;
    }
}

.menu-show {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    opacity: 1;
}

.close-button {
    align-self: end;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    padding: 4px 12px;
}

.main-menu-mobile {
    order: 1
}

@media (min-width: 768px) {
    .reflect-landing {
        flex-direction: row-reverse !important;
        text-align: right;
    }
}

.reflect-dir {
    text-align: right;
}

.reflect-imgs {
    transform: rotateY(180deg);
    z-index: 1;
}

.close-toggle {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 50%;
    color: #ccc;
}

/* Banner  */
.full-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9dd0a3b5;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/banner.jpg');
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.full-banner .content-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-textMag {
    --tw-text-opacity: 1;
    color: rgb(60 102 171/var(--tw-text-opacity));
}

.full-banner .title {
    font-size: 60px;
    font-weight: 700;
    color: #222;
    margin-top: 10px;
}

.full-banner .path {
    color: #999;
    padding: 10px 28px;
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 500;
}

.full-banner .path a {
    color: #999;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.full-banner .path .sec-path {
    position: relative;
}

.full-banner .path .sec-path:before {
    position: absolute;
    content: "";
    top: 4px;
    left: -22px;
    font-size: 20px;
    width: 2px;
    height: 22px;
    background: #333;
    transform: rotate(22deg);
}

.full-banner:after {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;

}

.full-banner .path a:hover {
    color: #E68C3A;
}



/* Features */
.home3-single-intro-content::before,
.home3-single-intro-content::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.home3-single-intro-content::before {
    background-color: rgb(245, 253, 252);
    left: -100px;
    top: -180px;
    width: 292px;
    height: 292px;
}

.home3-single-intro-content::after {
    background-color: #224C17;
    right: -18px;
    bottom: -80px;
    width: 118px;
    height: 118px;
}

.home3-single-intro-content:hover.home3-single-intro-content::before {
    left: -160px;
    top: -220px;
}

.home3-single-intro-content:hover.home3-single-intro-content::after {
    right: -60px;
    bottom: -85px;
}

.flip-right {
    flex-direction: row-reverse !important;
    text-align: right !important;
}

label {
    display: block;
    margin-top: 10px;
}

.login-form,
.signup-form {
    max-width: 350px;
    margin: auto;
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.input-suffix-end {
    position: absolute;
    right: .625rem;
    top: 50%;
    display: flex;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.my-spin {
    color: #27541C;
}
.MuiListItemButton-root {
    width: 200px;
    background: #eeeeee85;
}

@media (min-width: 992px) {
    .up-footer {
        grid-column: 3 / 6;
    }
    .row-links {
        grid-row: 1;
    }
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root.Mui-disabled,
.css-1ujsas3.Mui-disabled {
    background: #0080004f !important;
    border: 1px solid #00800000 !important;
    color: #fff !important;
}
.base-Popup-root {
    z-index: 100 !important;
    position: fixed !important;
    top: 80px !important;
    right: 20px !important;
    transform: none !important;
    left: auto !important;
    width: fit-content;
}
.base-MenuButton-root {
    padding: 0 !important;
}
.menu-item-divider {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.popup-scrolled {
    top: 110px !important;
}
.popup-scrolled-bot {
    top: 56px !important;
}
.shad {
    box-shadow: 0 8px 4px -7px rgba(115,115,115,0.3) !important;
}
body > .base-Popup-root:first-of-type {
    top: 56px !important;
}
body > .base-Popup-root:first-child {
    top: 56px !important;
}
body > .base-Popup-root:nth-child(1) {
    top: 56px !important;
}
body > .base-Popup-root:nth-of-type(1) {
    top: 56px !important;
}
/* .popup-scrolled:last-child {
    background-color: red;
} */
.dashboard .MuiAvatar-root {
    width: 46px !important;
    height: 46px !important;
    font-size: 22px !important;
}
.svg-dash img,
.svg-dash svg {
    width: 100% !important;
    height: 100% !important;
}
.css-1wnsr1i {
    width: auto !important;
    height: 100% !important;
    overflow-y: scroll !important;
}
@media (max-width: 567px) {
    .css-1wnsr1i {
        width: 280px !important;
    }
}

.btn-select-dash {
    border: 2px solid #DFDFDF;
    padding: 8px 12px;
    border-radius: 8px;
    color: #224C17;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 170px;
    height: 45px;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: unset !important;
}
.css-8je8zh-MuiTouchRipple-root {
    display: none !important;
}

.MuiPaper-root {
    /* left: 480px !important; */
    min-width: 170px !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
    background-color: rgb(27 210 25 / 16%) !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgb(14 182 64 / 6%) !important;
}

table tbody>:not([hidden])~:not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
    --tw-divide-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-divide-opacity));
}

table >tbody>tr:hover>* {
    background-color: #f3f4f680;
}
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #224C17 !important;
}
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
    background-color: #3f912b !important;
}
.css-1omp2b7:hover {
    background-color: rgb(105 194 14 / 10%) !important;
}
.MuiListItemButton-root {
    width: 200px;
    background: #fff !important;
}
.css-1uwabd6:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: initial !important;
}